
Exemplos documentação.py
appweb.py
Classificação multinominal - Arvores II/.ipynb_checkpoints/Classificação multinominal - Arvores II-checkpoint.ipynb
Classificação multinominal - Arvores II/.ipynb_checkpoints/Árvores II - Tarefa 2-checkpoint.ipynb
Classificação multinominal - Arvores II/.ipynb_checkpoints/mod17_Arvores_II-Tarefa_3-checkpoint.ipynb
