
Exemplos documentação.py
appweb.py
Classificação multinominal - Arvores II/.ipynb_checkpoints/Classificação multinominal - Arvores II-checkpoint.ipynb
Classificação multinominal - Arvores II/.ipynb_checkpoints/Árvores II - Tarefa 2-checkpoint.ipynb
Classificação multinominal - Arvores II/.ipynb_checkpoints/mod17_Arvores_II-Tarefa_3-checkpoint.ipynb
.ipynb_checkpoints/descritivas-ii-checkpoint.ipynb
.ipynb_checkpoints/descritivas-i-checkpoint.ipynb
.ipynb_checkpoints/Gerando analises mensais - Scripting-checkpoint.ipynb
.ipynb_checkpoints/preparacao-de-base-de-dados-checkpoint.ipynb
.ipynb_checkpoints/tratamento-de-dados-checkpoint.ipynb
.ipynb_checkpoints/árvore de regressão - poda-checkpoint.ipynb
.ipynb_checkpoints/Árvores de regressão-checkpoint.ipynb
Classificação multinominal - Arvores II/.ipynb_checkpoints/Arvores_II-Tarefa_3-checkpoint.ipynb
.ipynb_checkpoints/Gráficos interativos - plotly-checkpoint.ipynb
.ipynb_checkpoints/Gráficos interativos - plotly_tarefa02-checkpoint.ipynb
.ipynb_checkpoints/ clusterização - mod29_tarefa-checkpoint.ipynb
analise.html
.ipynb_checkpoints/mod30_tarefa02-checkpoint.ipynb
.html
.html
